<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TeamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
	<servlet-name>MemberController</servlet-name>
	<url-pattern>*.me</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MemberController</servlet-name>
	<servlet-class>com.itwillbs.controller.MemberController</servlet-class>
</servlet>


  <servlet-mapping>
	<servlet-name>ClassBoardController</servlet-name>
	<url-pattern>*.cbo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ClassBoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.ClassBoardController</servlet-class>
</servlet>

  <servlet-mapping>
	<servlet-name>NoticeBoardController</servlet-name>
	<url-pattern>*.nbo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>NoticeBoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.NoticeBoardController</servlet-class>
</servlet>

  <servlet-mapping>
	<servlet-name>ReviewBoardController</servlet-name>
	<url-pattern>*.rbo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReviewBoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.ReviewBoardController</servlet-class>
</servlet>

  <servlet-mapping>
	<servlet-name>QuestionBoardController</servlet-name>
	<url-pattern>*.qbo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>QuestionBoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.QuestionBoardController</servlet-class>
</servlet>

  <servlet-mapping>
	<servlet-name>ReserveController</servlet-name>
	<url-pattern>*.re</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ReserveController</servlet-name>
	<servlet-class>com.itwillbs.controller.ReserveController</servlet-class>
</servlet>

  <servlet-mapping>
	<servlet-name>PaymentController</servlet-name>
	<url-pattern>*.pa</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>PaymentController</servlet-name>
	<servlet-class>com.itwillbs.controller.PaymentController</servlet-class>
</servlet>

  <servlet-mapping>
	<servlet-name>SearchLogController</servlet-name>
	<url-pattern>*.se</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>SearchLogController</servlet-name>
	<servlet-class>com.itwillbs.controller.SearchLogController</servlet-class>
</servlet>


</web-app>